# Items that don't need to be in a Docker image.
Dockerfile
.dockerignore

.gitignore
.gitattributes
.editorconfig
helm-dev.yml
helm-prod.yml

README.md

# Artifacts that will be built during image creation.
build
node_modules